# for Mac users
.DS_Store

# ipynb_checkpoints
0*/.ipynb_checkpoints

# output directory
0*/graphs
0*/train

# related files on pycharm
0*/.idea

# datasets folder
datasets

# checkpoints folder
checkpoints
